# Desactivar listado de directorios (protege carpetas como /vendor)
Options -Indexes

# Proteger carpeta /vendor
RewriteEngine On
RewriteRule ^vendor/ - [F,L]

# Proteger carpeta /db  Se mantienen tres excepciones
# Cualquier otra solicitud a “db/” recibirá un 403
RewriteEngine On
#RewriteCond %{REQUEST_URI} !^/JENVA/db/crear_admin\.php$
RewriteCond %{REQUEST_URI} !^/JENVA/db/notify_pass\.php$
RewriteCond %{REQUEST_URI} !^/JENVA/db/procesar_tarea\.php$
RewriteCond %{REQUEST_URI} !^/JENVA/db/procesar_soporte\.php$
RewriteRule ^db/ - [F,L]

# Protege el archivo config.php:
#    Si alguien pide “config.php” directamente, recibe un 403.
<Files "config.php">
    Order allow,deny
    Deny from all
</Files>
